@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Poppins", system-ui;
  padding: 16px 12px;
  max-width: 1512px;
  margin: 0px auto;
}

.logo {
  width: 183px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.logo__link {
  font-weight: 700;
  font-size: 27px;
  color: #000;
  line-height: 120%;
}

.main__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 467px;
}
.menu__list a {
  color: #000;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
}
.menu__link {
  border: 1px solid #2203e4;
  padding: 11px 15px;
  cursor: pointer;
  margin-left: 32px;
}

.link__purchase {
  color: #2203e4;
  font-weight: 500;
  font-size: 21px;
}

.container {
  max-width: 1260px;
}

.container {
  max-width: 1262px;
  margin: 0px auto;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1152px;
  height: 700px;
  margin-left: 80px;
}
.hero__container {
  width: 610px;
  padding: 10px;
}
.hero__containt {
  padding-top: 12px;
  padding-left: 1px;
}
.hero__title {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-size: 47px;
  line-height: 120%;
  margin-bottom: 24px;
}
.hero__text {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin-bottom: 24px;
}
.hero__btn {
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  border: 1px solid #575757;
  background: #fff;
  color: #575757;
  padding: 9px 16px;
}
.hero__btn:last-child {
  margin-left: 20px;
}
.hero__btn:hover {
  background-color: #0062FF;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hero__img {
  width: 472px;
  height: 464px;
}