body {
	font-style: 16px;
	div {
		font-style: 10px;
	}
	margin: 0px 0px 0px 0px;
	padding: 10px;
	color: blue;
	background-color: aquamarine;
	span {
		color: coral;
		font-size: 20px;
		// padding: 10px 10px 10px 10px;
		margin-top: 20px;
		margin-bottom: 40px;
	}
}

@import "_header";

.div {
}
.block {

		&__item {
		}
}
.div {
}
.block {
}
.block__item {
}