.opinions {
	background-color: #ffbe0b;
	padding-top: 67px;
	padding-bottom: 53px;
	margin-bottom: 90px;

	&__container {
		text-align: center;
		margin-bottom: 30px;
	}

	&__title {
		font-family: "Poppins", system-ui;
		font-weight: 600;
		font-size: 36px;
		line-height: 120%;
		margin-bottom: 12px;
	}

	&__textd {
		font-family: "Poppins", system-ui;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: #575757;
	}

	&__name {
		font-family: "Poppins", system-ui;
		font-weight: 600;
		font-size: 27px;
		line-height: 120%;
	}
}

/* Родительский блок слайдера */
.slider {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 254px;
}

/* Внутренний контейнер, содержащий слайды */
.slider-wrapper {
	display: flex;
	gap: 32px;
	// scroll-behavior: smooth;
	transition: transform 0.5s ease-in-out; /* Плавная анимация */
}

/* Слайды */
.slide {
	min-width: 33.33%;
	height: 100%;
	display: flex;
	border-radius: 12px;
	transition: background-color 0.3s ease;
	width: 702px;
	height: 230px;
	padding: 0 16px;
	align-items: center;
	box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
	background-color: #f3f3f3;
	opacity: 0.4;
	transition: transform 0.5s ease-in-out;
}

.slide.active {
	background-color: #f3f3f3;
	opacity: 1; /* Для наглядности */
}

.fitback {
	&__container {
		padding-left: 12px;
	}

	&__text {
		font-family: "Poppins", system-ui;
		font-weight: 400;
		font-size: 16px;
		line-height: 120%;
		color: #575757;
	}
}
.name {
	&__rate {
		display: flex;
		margin-bottom: 16px;
	}

	&__rate-text {
		a {
			color: #000;
		}
	}
}

.opinion {
	&__position {
		font-family: "Poppins", system-ui;
		font-weight: 400;
		font-size: 21px;
		line-height: 120%;
	}
}

.rate {
	&__stars {
		width: 158px;
		height: 26px;
		margin-left: 7px;
	}
}
